.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent
    );
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
}

.about__container p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Small Devices */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__container {
        text-align: center;
    }
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__container p {
        margin: 1rem 0 1.5rem;
        text-align: center;
    }
}