h5 {
    color: var(--color-light);
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-left: 115px;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white)
}



/* Small Devices */
@media screen and (max-width: 600px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact-block {
        margin-top: 1825px;
    }
}

/* Small Devices */
@media screen and (min-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    .contact-block {
        margin-top: 650px;
    }
}

/* Medium Devices */
@media screen and (min-width: 768px) {
    .contact-block {
        margin-top: 730px;
    }
}

/* Medium Devices */
@media screen and (min-width: 992px) {
    .contact-block {
        margin-top: 300px;
    }
}

/* Large Devices */
@media screen and (min-width: 1200px) {
    .contact-block {
        margin-top: 250px;
    }
}
